*{
    margin: 0;
}
.box {
    width: 500px;
    height: 500px;
    background-color: aqua;
    position: absolute;
    /* top: 20px; */
}
.box1 {
    width: 350px;
    height: 350px;
    background-color: blueviolet;
    position: relative;
    top: 40px;
    left: 40px;
}
.subbox1{
    width: 150px;
    height: 150px;
    background-color: blue;
    position: relative;
    top: 40px; 
    left: 40px;
}
.box2 {
    width: 40px;
    height: 40px;
    background-color: lightcoral;
    position: fixed;
    /* left: 20px; */
    right: 40px;
    bottom: 40px;
}

.box3 {
    width: 320px;
    height: 320px;
    background-color: rgb(240, 128, 223);
    position: relative;
    top: 40px;
    left: 40px;
}
/* Attribute Selectors */
a {
  display: block;
}

a[href] {
  color: blue;
  text-decoration: underline;
}
a[title] {
  font-weight: bold;
  text-decoration: none;
}
/* combine attribute selectors to get even more precise */
a[href][title] {
  display:block;
  color: green;
}
/* Matching a single value within a space-seperated list */
a[class~="primary"] {
  color: red;
  font-weight: bold;
}

p[lang="en"] {
  font-style: italic;
}
ol[type="A"] {
  color: purple;
  font-weight: bold;
}

ol[type="i"] {
  color: green;
}