*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
}
header h1 {
    text-align: center;
    margin: 20px;
}

section  {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
    gap: 50px;

}

img  {
    width: 400px;
    height: inherit;
    border-radius: 5px;
    justify-items: center;

    
}

fieldset {
    width: 400px;
    height: 400px;
    padding: 20px;
}

#hobbies {
    width: 900px;
    height: 100px;
}

footer {
    text-align: center;
}